<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @training.description %>
		  </p>
			<p>
			  <%= @training.user.name %>
		  </p>
		  <% if current_user == @training.user %>
			  <%= link_to 'Edit', edit_training_path(@training) %> |
		  <% end %>
			<%= link_to 'Back', trainings_path %>
		</div>
	</div>
</div>

