<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @training.description %>
		  </p>
			  <%= link_to 'Edit', edit_training_path(@training) %> |
			  <%= link_to 'Back', trainings_path %>
		</div>
	</div>
</div>

