<div class="row">
	<div class="span6 offset1">
		<h1>Contact</h1>
			<p>
				<span id="logo"><img src="mail.png" width="16" height="16"></span>
				hello [at] awesometrain [dot] com
			<p>
	</div>
</div>
