$navbarBackgroundHighlight: #34495e;
$navbarBackground: #34495e;

@import 'bootstrap';
body{
    padding-top: 80px;
}

@import 'flat-ui';

.navbar .nav > li > a {
	color: #ecf0f1;
}

.brand {
	text-decoration: none;
}

.navbar-inner{
  @include box-shadow(none !important);
  border: 0;
}

.footer{
  margin-top: 50px;
  color: $grayLight;
  a{
      color: $gray;
  }
}


@import 'bootstrap-responsive';
