<div class=footer>
	<div class="row-fluid">
		<div class="span4">	
	  	<small>
		Designed by <%= link_to "Jessica Lin", "http://jerseejess.com" %>
			</small>
		</div>
		<div class="span8">	
			<div class="span-footer">
				<small>
				<%= link_to "Back to Top", root_path %>
				</small>
			</div>
		</div>
	</div>
</div>

